---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import { MY_LINKS, SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				box-sizing: border-box;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;

				list-style-type: none;
				padding: 0;
				
  				width: 100%;
				max-width: 580px;
				margin: 0px auto;
			}
			ul li {
				width: 100%;
				padding: 8px;
				border: 1px solid transparent;
				background: #ddd;
				border-radius: 16px;
				text-align: center;
				transition: all 0.4s ease;
			}
			ul li:hover {
				background: #fff;
				border: 1px solid black;
			}
			ul li a {
				display: block;
				text-decoration: none;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						MY_LINKS.map((link) => (
							<li>
								<a href={`/u/${link.shortenUrl}/`}>
									<span class="title">{link.title}</span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>