@import 'tailwindcss';
@import 'tw-animate-css';
@import '@tenzyu/ui/styles.css';

@custom-variant dark (&:is(.dark *));

@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-noto-serif-jp);
}
