@import 'tailwindcss';
@import 'tw-animate-css';
@import '@tenzyu/ui/styles.css';

@custom-variant dark (&:is(.dark *));

@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-geist-sans, var(--tz-font-sans));
  --font-mono: var(--font-geist-mono, var(--tz-font-mono));
  --font-serif: var(--font-noto-serif-jp, serif);
}
